.Board {
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 0 50px white, -10px 0 80px magenta, 10px 0 80 aqua;
}

/* html,
body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
} */

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.Board-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
} */

.neon-red {
  font-family: neon;
  color: red;
  font-size: 80px;
  text-shadow: 0 0 3v darkred;
  animation: neon-red 1s ease infinite;
  -moz-animation: neon-red 1s ease infinite;
  -webkit-animation: neon-red 1s ease infinite;
}

.neon-blue {
  font-family: neon;
  color: blue;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw darkblue;
  animation: neon-blue 2s linear infinite;
  -moz-animation: neon-blue 2s linear infinite;
  -webkit-animation: neon-blue 2s linear infinite;
  -o-animation: neon-blue 2s linear infinite;
}

.neon-magenta {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: magenta;
  font-size: 30px;
  line-height: 30px;
  text-shadow: 0 0 30px darkmagenta;
  animation: neon-magenta 1s linear infinite;
  -moz-animation: neon-magenta 1s linear infinite;
  -webkit-animation: neon-magenta 1s linear infinite;
  -o-animation: neon-magenta 1s linear infinite;
}

.winner .neon-blue, 
.winner .neon-red,
.winner .neon-magenta {
  font-size: 200px;
}

@keyframes neon-red {
  0%,
  100% {
    text-shadow: 0 0 1vw orangered, 0 0 3vw orangered, 0 0 10vw orangered, 0 0 10vw orangered, 0 0 0.4vw yellow, 0.5vw 0.5vw 0.1vw yellowgreen;
    color: yellow;
  }
  50% {
    text-shadow: 0 0 0.5vw red, 0 0 1.5vw red, 0 0 5vw red, 0 0 5vw red, 0 0 0.2vw yellow, 0.5vw 0.5vw 0.1vw burlywood;
    color: burlywood;
  }
}



@keyframes neon-blue {
  0%,
  100% {
    text-shadow: 0 0 1vw blue, 0 0 3vw blue, 0 0 10vw blue, 0 0 10vw blue, 0 0 0.4vw blueviolet, 0.5vw 0.5vw 0.1vw blueviolet;
    color: aqua;
  }
  50% {
    text-shadow: 0 0 0.5vw darkblue, 0 0 1.5vw darkblue, 0 0 5vw darkblue, 0 0 5vw darkblue, 0 0 0.2vw darkmagenta, 0.5vw 0.5vw 0.1vw darkmagenta;
    color: darkcyan;
  }
}

@keyframes neon-magenta {
  0%,
  100% {
    text-shadow: 0 0 1vw yellow, 0 0 3vw green, 0 0 10vw magenta, 0 0 10vw magenta, 0 0 0.4vw darkviolet, 0.5vw 0.5vw 0.1vw darkviolet;
    color: darkorchid;
  }
  50% {
    text-shadow: 0 0 0.5vw yellow, 0 0 1.5vw green, 0 0 5vw darkmagenta, 0 0 5vw darkmagenta, 0 0 0.2vw aquamarine, 0.5vw 0.5vw 0.1vw aquamarine;
    color: purple;
  }
}
